/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

#new_item {display:none; }
#new_signup {display:none; }

#menubar {
  border-bottom: 2px solid;
  padding: 0 0 5px 0;
  text-align:right;
}

#header {
  border-bottom: 2px solid;
}


  